<div class="row">
  <div class="col md-6">
    <a routerLink="/">
    <i class="fa fa-arrow-circle-o-left"></i>Retour au tableau de bord</a>
  </div>
  <div class="col md-6">

  </div>
</div>
<div class="card">
  <div class="card-header">
    Editer paramètres
  </div>
  <div class="card-body">
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label> Autoriser l'enregistrement</label>
        <input type="checkbox"
               name="allowRegistration"
               [checked]="settings.allowRegistration"
               (change)="settings.allowRegistration = !settings.allowRegistration" >
      </div>
      <div class="form-group">
        <label> Desactiver l'ajout du montant (nouveau client)</label>
        <input type="checkbox"
               name="disableBalanceOnAdd"
               [checked]="settings.disableBalanceOnAdd"
               (change)="settings.disableBalanceOnAdd = !settings.disableBalanceOnAdd" >
      </div>
      <div class="form-group">
        <label> Desactiver l'ajout du montant (client enregistré)</label>
        <input type="checkbox"
               name="disableBalanceOnEdit"
               [checked]="settings.disableBalanceOnEdit"
               (change)="settings.disableBalanceOnEdit = !settings.disableBalanceOnEdit" >
      </div>
      <input type="submit" value="Enregistrer" class="btn btn-primary btn-block">
    </form>
  </div>
</div>
